/* Tables */
.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

/* Layout */
.md-grid {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
.md-sidebar--primary {
  width: 8rem;
}
.md-sidebar--secondary {
  width: 10rem;
}
.md-footer-meta__inner {
  justify-content: center !important;
}

/* DOCS */
.doc code,
.doc-heading * {
  color: cyan !important;
  /* font-size: 1em; */
}

/* Name Acronym */
.name-acronym {
  font-size: 32px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 0px) and (max-width: 540px) {
  .name-acronym {
    font-size: 20px;
  }
}

/* Title Image */
.title-image {
  height: auto;
  width: 768px;
}
@media only screen and (max-width: 768px) {
  .title-image {
    width: 100%;
  }
}
